In [2]:
import pandas as pd
import numpy as np

autos = pd.read_csv('Automobile_data.csv')
autos.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [3]:
autos['price'].mean()

15387.0

In [4]:
autos['price'].median()

11095.0

In [8]:
# Mean > Median, means that distribution of price is right-skewed

In [9]:
autos['price'].var()

128148282.87719299

In [10]:
np.log(autos['price']).mean()

9.410946825351903