<h2>Exercise 1 - What is the difference between simple linear and multiple linear regressions? Be specific.</h2>

Simple predicts target using 1 predictor.<br>
Multiple predicts using multiple predictors

<h2>Exercise 2</h2>

Women: .86<br>
Men: 1.06

<h2>Exercise 3</h2>

C

<h2>Exercise 4</h2>

B

<h2>Exercise 5 - Answer below using Default.csv</h2>

In [5]:
#5a - Using the pandas library, read the csv file and called credit_default

import pandas as pd
import numpy as np

credit_default = pd.read_csv('Default.csv')
credit_default.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [6]:
#5b - add default_numb variable

credit_default['default_numb'] = np.where(credit_default['default'] == 'Yes', 1, 0)

In [8]:
#5c - statsmodels.formula.api, build a logistic regression model

import statsmodels.api as sm

my_md = sm.formula.logit("default_numb ~ balance + income", data = credit_default).fit()

Optimization terminated successfully.
         Current function value: 0.078948
         Iterations 10

In [9]:
#5d - predict the likelihood of default of a customer with balance = $2,000 and income = $70,000.

new_obs = {'balance': 2000, 'income': 70000}
predict = my_md.predict(new_obs)
print("Likelihood is: ", predict)

Likelihood is:  0    0.770364
dtype: float64

In [10]:
#5e - statsmodels.formula.api, build a logistic regression model

my_md1 = sm.formula.logit("default_numb ~ balance + income + C(student)", data = credit_default).fit()

Optimization terminated successfully.
         Current function value: 0.078577
         Iterations 10

In [14]:
#5f - predict likelihood of default of customer with balance = $2.5k and income = $20k and student = Yes.

new_obs1 = pd.DataFrame({'balance': 2500, 'income': 20000, 'student': ['Yes']})
predict1 = my_md1.predict(new_obs1)
print("Likelihood is: ", predict1)

Likelihood is:  0    0.947156
dtype: float64

<h2>Exercise 6 - use Churn_Data.csv to answer below</h2>

In [16]:
#6a - Using the pandas library, read the csv file and create a data-frame called churn.

churn = pd.read_csv('Churn_Data.csv')
churn.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCreditCard,IsActiveMember,EstimatedSalary,Churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [17]:
#6b - DecisionTreeClassifier function, build a decision tree model

from sklearn.tree import DecisionTreeClassifier

#Inputs and target
my_fts = ['Age', 'EstimatedSalary', 'CreditScore', 'Balance', 'NumOfProducts']
trgt = ['Churn']

X = churn[my_fts]
Y = churn[trgt]

#DecisionTree model
md_tree = DecisionTreeClassifier().fit(X, Y)

In [18]:
#6c - predict likelihood of churn of withAge = 50, EstimatedSalary = $100,000, CreditScore = 600, 
#Balance = $100,000, and NumOfProducts = 2.

obs_2 = pd.DataFrame({'Age': [50], 'EstimatedSalary': [100000], 'CreditScore': [600], 'Balance': [100000], 'NumOfProducts': [2]})

#Predict
predict2 = md_tree.predict_proba(obs_2)
print(predict2)

[[1. 0.]]

#6d

Customer would be flagged at >= 40%