## Exercise 1 - Which of the following is not a part of data analytics process?

**Software Development**

## Exercise 2 - What is predictive modeling?

**Take raw data and structure it to use in machine learning models to predict the outcome of interest**

## Exercise 3 - What is the difference between supervised and unsupervised learning?

**Supervised: Build a model that makes predictions based on historical data. A supervised learning algorithm takes a known set of input variables and a known target variable and trains a model to generate reasonable predictions for the target variable**

**Unsupervised: The goal of unsupervised learning is to find patterns or intrinsic structures in a given input data set without a target variable**

## Exercise 4 - What is the difference between diagnostic and predictive analytics?

**Diagnostic:  Diagnostic analytical tools aid an analyst to dig deeper into an issue at hand so that they can arrive at the source of a problem. Diagnostic asks why something happened**

**Predictive: Predictive analytics helps businesses to forecast trends based on the current events, such as when something will happen or the probability of it happening. Predictive asks what will happen**

## Exercise 5 - Ice cream sales and high crime rates correlate very well during the summer season. One could argue that ice cream sales could be used in a model that predicts crime rate in the summer. This is an example of bad analytics. Explain why.

**We are drawing connections that happen to be random coincidence, it would make more sense if we compared the two with temperature instead of each other**

In [9]:
### Exercise 6 ###
from IPython.display import Image

Image(url="exercise6.jpeg", width=600, height=300)

| Model 1 Outcome | Model 2 Outcome |
| --- | --- |
| Default | Default |
| Default | Repay |
| Repay | Repay |
| Default | Default |
| Repay | Repay |
| Default | Default |
| Repay | Repay |
| Repay | Repay |
| Default | Default |
| Repay | Repay |

In [10]:
### Exercise 7 ###
Image(url="exercise7.jpeg", width=600, height=300)

In [11]:
import pandas as pd

students = pd.read_csv('StudentsPerformance.csv')
students.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [14]:
students['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [17]:
students.groupby('gender')['math score'].mean()

gender
female    63.633205
male      68.728216
Name: math score, dtype: float64