In [65]:
import pandas as pd
import numpy as np

In [66]:
#Using the pandas library, read the csv datafile and create a data-frame called autos.
autos = pd.read_csv('Automobile_data.csv')

In [67]:
#Report the number of observations and variables in the data-frame. autos
autos.count()

index               61
company             61
body-style          61
wheel-base          61
length              61
engine-type         61
num-of-cylinders    61
horsepower          61
average-mileage     61
price               58
dtype: int64

In [68]:
autos.shape

(61, 10)

In [69]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB

In [70]:
autos.head(3)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0

In [71]:
#Report the most expensive car price based on the company
autos.groupby('company')['price'].max()

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [72]:
#Report the price of the last observation in the data-frame autos.
autos.tail(1)['price']

60    13415.0
Name: price, dtype: float64

In [73]:
#Report the most expensive car price based on the body-style.
autos.groupby('body-style')['price'].max()

body-style
convertible    37028.0
hardtop        45400.0
hatchback      16500.0
sedan          41315.0
wagon          28248.0
Name: price, dtype: float64